.emp-home{
    

  .btn{
    padding: 10px 50px;
  }

  .footer-content{
    display: flex;
    justify-content: center;
    align-items:end;
   text-align:center;
   color:darkgray;
   padding-top: 100px;
  }
}
.title{
    display: flex;
    justify-content: center;

    img{
    
        width: 400px;
    }
    








}

